.input-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 500px;

  &__label {
    margin-right: 20px;
  }

  &__input {
    font-size: 16px;
    border: 1px solid #7c7c7c;

    height: 30px;
    width: 60%;

    border-radius: 5px;
    outline: none;

    &::placeholder {
      color: black;
    }

    &--error {
      border-color: red;
    }

    &[type="file"] {
      border: none;
    }
  }
}

.error-message {
  height: 20px;

  color: red;
  font-weight: bold;
  font-size: 12px;

  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 10px;

  text-align: right;
}
