@import "../../../variables";

.mp-header {
  background-color: $footer-color;
  display: flex;
  justify-content: left;

  .mp-image {
    color: white;
    width: 50px;
    padding: 5px 0 5px 10px;
  }
}
