APP_ENV=development
DB_NAME=db_name
DB_USERNAME=name
DB_PASSWORD=pwd
DB_HOST=amazon-rds-url
DB_PORT=amazon-rds-port
AWS_ACCESS_KEY_ID=your-aws-key
AWS_SECRET_ACCESS_KEY=your-aws-secret
BUCKET_NAME=your-bucket-name
AWS_PUBLIC_URL_PREFIX=your-aws-public-prefix
ACCESS_TOKEN_SECRET=some-secret-hash