$breakpoints: (
  "mobile": 0px,
  "tablet": 480px,
  "desktop": 840px,
  "lg-desktop": 1240px,
);

@mixin font-headline-1() {
  font-family: Roboto;
  font-size: 72px;
  line-height: 72px;
  @media screen and (max-width: map-get($breakpoints, desktop)) {
    font-size: 40px;
    line-height: 40px;
  }
}

@mixin font-headline-2() {
  font-family: "Open Sans";
  font-size: 32px;
  line-height: 42px;
  @media screen and (max-width: map-get($breakpoints, desktop)) {
    font-size: 20px;
    line-height: 30px;
  }
}

@mixin font-headline-3() {
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 32px;
  @media screen and (max-width: map-get($breakpoints, desktop)) {
  }
}

@mixin font-body-1() {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
  @media screen and (max-width: map-get($breakpoints, desktop)) {
  }
}

.mp-container {
  max-width: 2000px;
  margin: 0 auto;
  overflow-x: hidden;
}
.mp-header-section {
  background-image: url("images/hero_img.png");
  background-size: cover;
  height: 700px;
  @media screen and (max-width: map-get($breakpoints, desktop)) {
    height: 450px;
  }
  .mp-header-content {
    display: flex;
    flex-direction: column;
    padding: 50px 0 50px 140px;
    @media screen and (max-width: map-get($breakpoints, desktop)) {
      padding: 10px;
    }
    .mp-menu-icon-row {
      @media screen and (max-width: map-get($breakpoints, desktop)) {
        align-self: center;
      }
      .mp-image {
        height: 100px;
        width: 132px;
      }
    }
    .mp-title-row {
      .mp-app-name {
        @include font-headline-2();
        color: white;
        @media screen and (max-width: map-get($breakpoints, desktop)) {
          text-align: center;
          margin-top: 30px;
        }
      }
      .mp-header-title {
        @include font-headline-1();
        color: white;
        max-width: 700px;
        margin: 30px 0 30px;
        @media screen and (max-width: map-get($breakpoints, desktop)) {
          text-align: center;
        }
      }
      .mp-header-description {
        @include font-headline-3();
        color: white;
        @media screen and (max-width: map-get($breakpoints, desktop)) {
          text-align: center;
        }
      }
    }
  }
}

.mp-guide-section {
  .mp-guide-title {
    @include font-headline-2();
    margin: 30px auto 60px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
  }
  .mp-guide-steps-container {
    display: flex;
    @media screen and (max-width: map-get($breakpoints, desktop)) {
      flex-direction: column;
      align-items: center;
    }
    padding: 0 10% 0 10%;

    justify-content: space-between;
    .mp-maps-description,
    .mp-pick-venue-description,
    .mp-menu-description {
      @include font-headline-3();
      max-width: 250px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 35px;
    }
  }
}

.mp-conclusion-section {
  display: flex;
  @media screen and (max-width: map-get($breakpoints, desktop)) {
    flex-direction: column;
  }
  .mp-left-column {
    background-image: url("images/transition_rect.png");
    background-size: cover;
    flex: 1 0 50%;
    @media screen and (max-width: map-get($breakpoints, desktop)) {
      order: 2;
    }
    .mp-column-wrapper {
      display: flex;
      flex-direction: column;
      padding: 40px 70px 40px;
      .mp-title {
        @include font-headline-1();
        color: white;
        max-width: 550px;
        margin-bottom: 40px;
        @media screen and (max-width: map-get($breakpoints, tablet)) {
          text-align: center;
          align-self: center;
        }
      }
      .mp-image {
        align-self: center;
        margin-bottom: 140px;
        @media screen and (max-width: map-get($breakpoints, desktop)) {
          width: 200px;
          margin-bottom: 40px;
        }
      }
      .mp-hint {
        @include font-body-1();
        color: white;
        text-align: center;
      }
    }
  }
  .mp-right-column {
    background-image: url("images/always_ready.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex: 1 0 50%;
    @media screen and (max-width: map-get($breakpoints, desktop)) {
      order: 1;
    }
    .mp-title {
      @include font-headline-1();
      text-align: center;
      font-weight: 600;
      color: white;
      align-self: center;
      @media screen and (max-width: map-get($breakpoints, desktop)) {
        max-width: 400px;
        text-align: center;
        padding: 50px 0 50px;
      }
    }
  }
}
